<ion-header>
  <ion-toolbar>
    <ion-title>myday</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <div>
        <h2> My Day</h2>
        <p> {{today | date}}</p>
    </div>
  </ion-item>
  <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let task of tasks;let i=index">
          <ion-item>
            <ion-icon slot="end" name="create" (click)="details(task)"></ion-icon>
          <ion-icon slot="end" name="trash" (click)="deleteTask(i)"></ion-icon>
          <ion-label>
            {{task}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
   <app-newtask (outEnterTask)="addTask($event)"></app-newtask>
</ion-content>
